* {
    padding: 0;
    margin:0;
    box-sizing: border-box;
}

.navbar{
    background-color: black;
    display: flex;
    justify-content: space-between;
    padding: 10px 20px;
}

.logohand{
    width: 40px;
}

.logosite{
    width: 200px;
}


.btn{
    height: 42px;
    width:60px;
    background-color: black;
    border-color: white;
    color: white;
    border-radius: 10px;
    cursor: pointer;
    margin: 0 2px;
}
